main{

    section{

        #introduction{
            padding-block: 1.5rem;

            font: 800 1.5rem/1.3 var(--ff-ss);
            color: white;
            p{
                font: bold 1rem/1 var(--ff-ss);
                color: white;
            }

            img{
                width: 100%;
                border-radius: 10px;
            }
            #introduction-title{
                position: absolute;
                bottom: 36rem;
                left: 3rem;
            }
        }

        #topic{
            background-color: #02A28F;
            border-radius: 10px;
            a{
                text-decoration: underline;
                font: var(--category);
            }
            height: 2.5rem;
            font: var(--title);
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline: 1rem;
        }

        .topic{
            background-color: #02A28F;
            border-radius: 10px;
            height: 2.5rem;
            font: var(--title);
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-inline: 1rem;
        }

        .cards{
            margin-block: 1.5rem;
            background-color: white;
            border-radius: 10px;

            img{
                width: 100%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            h3{
                font: var(--category);
                color: #02A28F;
                padding-block: .5rem;
                padding-inline: 1rem;
            }
            h2{
                font: var(--title);
                padding-inline: 1rem;
                padding-block: .5rem;
            }
            .written{
                color: #616161;
                font: 800 .875rem/1.5 var(--ff-ss);
            }
            .posts-date{
                color: #616161;
                font: var(--post-date);
                padding-bottom: 1rem;
            }
            p{
                font: 500 .875rem/1.5 var(--ff-ss);
                padding-inline: 1rem;
                padding-block: .5rem;
            }

        }

        .popular-posts{
            background-color: white;
            border-radius: 10px;
            margin-block: 1.25rem;
            padding: 1rem;
            display: flex;
            img{
                border-radius: 10px;
            }
            .popular-text{
                margin-left: 1rem;
            }
        }

        .categories{
            padding-block: 1rem;
        }

        #category{
            display: flex;
            flex-direction: column;
            padding-block: 1.5rem;
            gap: 1.5rem;
            p{
                display: flex;
                justify-content: space-between;
            }
            font: var(--category-nav);
            color:#616161;
            
        }
        
    }


}